{% extends 'base.html' %}
{% load static %}

{% block title %}Notícias{% endblock %}

{% block content %}
<section class="noticias-container">
    <h1 class="titulo-noticias">📰 Últimas Notícias</h1>
    
    <div class="noticia-grid">
        {% for noticia in noticias %}
            <div class="noticia-card">
               <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                <div class="noticia-conteudo">
                    <p class="data-noticia">{{ noticia.data }}</p>
                    <h2 class="titulo-noticia">{{ noticia.titulo }}</h2>
                    <p class="resumo-noticia">{{ noticia.resumo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}